---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FLWQmTBk9jdsKjpset1RTjbAcTvpLIXtjB_ytZU9U2UGOI4x0cPPrtm7n1LpHxMU7&client_id=932398239496-4kjrr1aqqnrqj12b2idibtdt5nini9k8.apps.googleusercontent.com&client_secret=sDiJdDZleFXQnJGUmetJlv-I
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.Ci-1A5nte6BVoOVmNYKeVTIG2WRqJzO7xZhK1rmcADxwwHivSVsJTNAVA8ekPnU12Q",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 15 Dec 2016 05:26:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,%20name)&pageSize=1&q=name%20contains%20%27original_1_image_original_1_image.png.png_1_image.png%27%20and%20%270B-GFJI5FWVGyQXFKRzkydldoalk%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-1A5nte6BVoOVmNYKeVTIG2WRqJzO7xZhK1rmcADxwwHivSVsJTNAVA8ekPnU12Q
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "0B-GFJI5FWVGyVkNOX2FrRHVWZ1E",
           "name": "original_1_image.png"
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 05:26:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/0B-GFJI5FWVGyVkNOX2FrRHVWZ1E?fields=id,%20name,%20thumbnailLink
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-1A5nte6BVoOVmNYKeVTIG2WRqJzO7xZhK1rmcADxwwHivSVsJTNAVA8ekPnU12Q
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "0B-GFJI5FWVGyVkNOX2FrRHVWZ1E",
         "name": "original_1_image.png",
         "thumbnailLink": "https://lh6.googleusercontent.com/_bJLfrEKc0JnCoBpfQmVqvoAwDU2d3klB64y_Ygqelb82uZjZY6mnC4XmZwi_IA54q7H0Q=s220"
        }
  recorded_at: Thu, 15 Dec 2016 05:26:31 GMT
recorded_with: VCR 3.0.3
