---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FLWQmTBk9jdsKjpset1RTjbAcTvpLIXtjB_ytZU9U2UGOI4x0cPPrtm7n1LpHxMU7&client_id=932398239496-4kjrr1aqqnrqj12b2idibtdt5nini9k8.apps.googleusercontent.com&client_secret=sDiJdDZleFXQnJGUmetJlv-I
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.CjDAAxh-LlgH7QG6IgkfBwLuXKe_n93N_Vi5fwzgcUyhcEw83NyGvwbyKTTTGNvUA9M",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Mon, 26 Dec 2016 01:56:41 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,%20name)&pageSize=1&q=name%20contains%20%27original_1_image_original_1_image.png.png_1_image.png%27%20and%20%270B-GFJI5FWVGyQXFKRzkydldoalk%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.CjDAAxh-LlgH7QG6IgkfBwLuXKe_n93N_Vi5fwzgcUyhcEw83NyGvwbyKTTTGNvUA9M
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "0B-GFJI5FWVGyN0YwNmlIMWtOWU0",
           "name": "original_1_image.png"
          }
         ]
        }
  recorded_at: Mon, 26 Dec 2016 01:56:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/0B-GFJI5FWVGyN0YwNmlIMWtOWU0?fields=id,%20name,%20thumbnailLink,%20webContentLink,%20webViewLink,%20trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.CjDAAxh-LlgH7QG6IgkfBwLuXKe_n93N_Vi5fwzgcUyhcEw83NyGvwbyKTTTGNvUA9M
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "0B-GFJI5FWVGyN0YwNmlIMWtOWU0",
         "name": "original_1_image.png",
         "trashed": false,
         "webContentLink": "https://drive.google.com/uc?id=0B-GFJI5FWVGyN0YwNmlIMWtOWU0&export=download",
         "webViewLink": "https://drive.google.com/file/d/0B-GFJI5FWVGyN0YwNmlIMWtOWU0/view?usp=drivesdk",
         "thumbnailLink": "https://lh5.googleusercontent.com/RGQDHw80Bs-4vH7Z3wrZF1wALihcIJUsfbObfPpiB1rltCPIeuj_mDImEaimQ8H1Dw0FxQ=s220"
        }
  recorded_at: Mon, 26 Dec 2016 01:56:47 GMT
recorded_with: VCR 3.0.3
