---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FLWQmTBk9jdsKjpset1RTjbAcTvpLIXtjB_ytZU9U2UGOI4x0cPPrtm7n1LpHxMU7&client_id=932398239496-4kjrr1aqqnrqj12b2idibtdt5nini9k8.apps.googleusercontent.com&client_secret=sDiJdDZleFXQnJGUmetJlv-I
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.Ci-1A0xoUhaYyQzq3N7Q1KK0N6eRpYcxOWqYrWxNAfhAPEZx4QbTCm5SxFC6YRjUsQ",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 15 Dec 2016 04:38:22 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,%20name)&pageSize=1&q=name%20contains%20%27original_1_image.png%27%20and%20%270B-GFJI5FWVGyQXFKRzkydldoalk%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-1A0xoUhaYyQzq3N7Q1KK0N6eRpYcxOWqYrWxNAfhAPEZx4QbTCm5SxFC6YRjUsQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "0B-GFJI5FWVGyMkZHT2I0T296WWs",
           "name": "original_1_image.png"
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 04:38:23 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/0B-GFJI5FWVGyMkZHT2I0T296WWs?fields=id,%20name,%20thumbnailLink
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-1A0xoUhaYyQzq3N7Q1KK0N6eRpYcxOWqYrWxNAfhAPEZx4QbTCm5SxFC6YRjUsQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "0B-GFJI5FWVGyMkZHT2I0T296WWs",
         "name": "original_1_image.png",
         "thumbnailLink": "https://lh3.googleusercontent.com/Dh3GLlnp7haazHbYV1AzHCFh93tNGUaCAz0lo_Xje-kOBoMnVwhEDd96dkcJszMXrrMb7A=s220"
        }
  recorded_at: Thu, 15 Dec 2016 04:38:23 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,%20name)&pageSize=1&q=name%20contains%20%27medium_1_image_medium.png%27%20and%20%270B-GFJI5FWVGyQXFKRzkydldoalk%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-1A0xoUhaYyQzq3N7Q1KK0N6eRpYcxOWqYrWxNAfhAPEZx4QbTCm5SxFC6YRjUsQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "0B-GFJI5FWVGyYldweXl5Y2RlTm8",
           "name": "medium_1_image_medium.png"
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 04:38:23 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/0B-GFJI5FWVGyYldweXl5Y2RlTm8?fields=id,%20name,%20thumbnailLink
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-1A0xoUhaYyQzq3N7Q1KK0N6eRpYcxOWqYrWxNAfhAPEZx4QbTCm5SxFC6YRjUsQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "0B-GFJI5FWVGyYldweXl5Y2RlTm8",
         "name": "medium_1_image_medium.png",
         "thumbnailLink": "https://lh3.googleusercontent.com/0J9oVI6SuJv7BlCUie8HeY3dsDXSMr22P4RcWxl0qcYRr0OQlhjRSQQwrTmXdMoAbu9J0w=s220"
        }
  recorded_at: Thu, 15 Dec 2016 04:38:23 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/0B-GFJI5FWVGyMkZHT2I0T296WWs
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-1A0xoUhaYyQzq3N7Q1KK0N6eRpYcxOWqYrWxNAfhAPEZx4QbTCm5SxFC6YRjUsQ
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 15 Dec 2016 04:38:24 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/0B-GFJI5FWVGyYldweXl5Y2RlTm8
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-1A0xoUhaYyQzq3N7Q1KK0N6eRpYcxOWqYrWxNAfhAPEZx4QbTCm5SxFC6YRjUsQ
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 15 Dec 2016 04:38:25 GMT
recorded_with: VCR 3.0.3
