---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FLWQmTBk9jdsKjpset1RTjbAcTvpLIXtjB_ytZU9U2UGOI4x0cPPrtm7n1LpHxMU7&client_id=932398239496-4kjrr1aqqnrqj12b2idibtdt5nini9k8.apps.googleusercontent.com&client_secret=sDiJdDZleFXQnJGUmetJlv-I
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.CjDAA0AUINsy3YkRTTHZjPzt53V1tKtXTWOflPQfiRwSApbaKdbd_4HULThN6fn2gJs",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Mon, 26 Dec 2016 01:55:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,%20name)&pageSize=1&q=name%20contains%20%27original_1_image.png%27%20and%20%270B-GFJI5FWVGyQXFKRzkydldoalk%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.CjDAA0AUINsy3YkRTTHZjPzt53V1tKtXTWOflPQfiRwSApbaKdbd_4HULThN6fn2gJs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "0B-GFJI5FWVGyUVBtemQ4M2hjSmM",
           "name": "original_1_image.png"
          }
         ]
        }
  recorded_at: Mon, 26 Dec 2016 01:55:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/0B-GFJI5FWVGyUVBtemQ4M2hjSmM?fields=id,%20name,%20thumbnailLink,%20webContentLink,%20webViewLink,%20trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.CjDAA0AUINsy3YkRTTHZjPzt53V1tKtXTWOflPQfiRwSApbaKdbd_4HULThN6fn2gJs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "0B-GFJI5FWVGyUVBtemQ4M2hjSmM",
         "name": "original_1_image.png",
         "trashed": false,
         "webContentLink": "https://drive.google.com/uc?id=0B-GFJI5FWVGyUVBtemQ4M2hjSmM&export=download",
         "webViewLink": "https://drive.google.com/file/d/0B-GFJI5FWVGyUVBtemQ4M2hjSmM/view?usp=drivesdk",
         "thumbnailLink": "https://lh3.googleusercontent.com/Lg22Sct2JJx4MpMhqUA9gejxTIemrqDgjUtnquZRaEb3OZl_lnlEuvCFNUIBksUmumv8ZQ=s220"
        }
  recorded_at: Mon, 26 Dec 2016 01:55:06 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files(id,%20name)&pageSize=1&q=name%20contains%20%27medium_1_image_medium.png%27%20and%20%270B-GFJI5FWVGyQXFKRzkydldoalk%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.CjDAA0AUINsy3YkRTTHZjPzt53V1tKtXTWOflPQfiRwSApbaKdbd_4HULThN6fn2gJs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "0B-GFJI5FWVGybXFGUjhYb1N4ZUk",
           "name": "medium_1_image_medium.png"
          }
         ]
        }
  recorded_at: Mon, 26 Dec 2016 01:55:06 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/0B-GFJI5FWVGybXFGUjhYb1N4ZUk?fields=id,%20name,%20thumbnailLink,%20webContentLink,%20webViewLink,%20trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.CjDAA0AUINsy3YkRTTHZjPzt53V1tKtXTWOflPQfiRwSApbaKdbd_4HULThN6fn2gJs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "0B-GFJI5FWVGybXFGUjhYb1N4ZUk",
         "name": "medium_1_image_medium.png",
         "trashed": false,
         "webContentLink": "https://drive.google.com/uc?id=0B-GFJI5FWVGybXFGUjhYb1N4ZUk&export=download",
         "webViewLink": "https://drive.google.com/file/d/0B-GFJI5FWVGybXFGUjhYb1N4ZUk/view?usp=drivesdk",
         "thumbnailLink": "https://lh5.googleusercontent.com/sUXrQi1-2llBJfjHn3K40QWObyB8qQ1EvR4-TVfgFOXtUKqAbpymXTJ7WYIVd2PuFwZFyA=s220"
        }
  recorded_at: Mon, 26 Dec 2016 01:55:07 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/0B-GFJI5FWVGyUVBtemQ4M2hjSmM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.CjDAA0AUINsy3YkRTTHZjPzt53V1tKtXTWOflPQfiRwSApbaKdbd_4HULThN6fn2gJs
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 26 Dec 2016 01:55:08 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/0B-GFJI5FWVGybXFGUjhYb1N4ZUk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.CjDAA0AUINsy3YkRTTHZjPzt53V1tKtXTWOflPQfiRwSApbaKdbd_4HULThN6fn2gJs
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 26 Dec 2016 01:55:14 GMT
recorded_with: VCR 3.0.3
